.header__inner {
    justify-content: space-between;
}
.header-full-page {
    bottom: 27px;
}
.hero-bg {
    height: 100vh;
    position: relative;
}
.panorama-slider2__slide {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.bannerVideo{
	object-fit: cover;
    width: 100%;
    height: 100%;
}
.arrow {
    border: solid #ccc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.arrow-left {
    transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow-right {
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mob-only{
    display: none;
}


@media only screen and (min-width: 1441px) {
    .mob-menu{
        display: none;
    }
}
@media only screen and (max-width: 1440px) {
    .mob-only{
        display: block;
    }
    .desk-only{
        display: none;
    }
}